@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');

body {
    margin: 0;
    background: url(https://cdn.mos.cms.futurecdn.net/M7fDTpDnJcZ4dt3myngzxi.jpg)  50% 10% no-repeat;
}

h1 {
    text-align: center;

    font-family: 'Prosto One', cursive;
    color: rgb(16, 255, 251);
    font-size: 55px;
}

h2 {
    text-align: center;

    font-family: 'Chivo Mono', monospace;
    color: rgb(90, 148, 148);
    font-size: 35px;
}

.wrapper {
    display: flex;
    justify-content: center;

    margin-top: 90px;
}

.img_wrapper {
    width: 500px;
    height: 500px;
}

.img_big {
    width: 100%;
}